.backgroundsize {
    height: 100vh;
    background-color: #E7C318;
}

.rightContainer {
    background: #575757;
}

.MyDeck,
.EnemyDeck {
    width: 97%;
    margin-left: 3%;
    height: 20%;
}

.pioche {
    background-color: #6A6A6A;
    width: 25%;
}

.EnemyHand,
.MyHand {
    background-color: #2E2E2E;
    flex: 1;
    overflow: hidden;
}

.tray {
    height: 60%;
    background-color: #575757;
    width: 100%;
    padding: 1%;
    box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.25), 0px 10px 12px rgba(0, 0, 0, 0.25);
}

.cardPioche {
    transform: rotate(90deg);
    width: 35%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25))
}

.EnemyCard {
    transform: rotate(180deg);
    width: auto;
    height: auto;
}

.MyCard {
    width: auto;
    height: auto;
}

.EnemyTrail,
.MyTrail {
    width: 100%;
    height: 50%;
    display: flex;
}

.trail {
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.09s all ease-in-out;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    justify-content: space-between;
}

.selectedCard {
    -webkit-box-shadow: 0px 0px 11px 6px #FFE920; 
    box-shadow: 0px 0px 11px 6px #FFE920;
}

.selectedFightCard {
    -webkit-box-shadow: 0px 0px 11px 6px #63ff20; 
    box-shadow: 0px 0px 11px 6px #63ff20;
}

.selectedAgroCard:hover {
    -webkit-box-shadow: 0px 0px 11px 6px #ff2020; 
    box-shadow: 0px 0px 11px 6px #ff2020;
}

.dragme {
    position: relative;
    width: 270px;
    height: 203px;
    cursor: move;
}

.trail:hover {
    background-color: #999999;
}

.undertray {
    background: #878787;
    height: 100%;
}

.CardTrail {
    width: 100%;
    height: 80%;
    display: flex;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* position: relative; */
    background-size: contain;
    object-fit: contain;
    flex: 1;
}

.titleRightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: barlow-eb;
    font-weight: bold;
    Color: White;
    font-size: 32px;
}

.EnemyEnergy,
.MyEnergy {
    height: 100%;
    width: 50%;
    padding: 5% 10% 5% 10%
}

.EnergyFull,
.EnergyEmpty {
    height: 8%;
    Width: 100%;
    margin: 5% 0 5% 0;
}

.EnergyFull {
    background: #E7C318;
}

.EnergyEmpty {
    background: #C4C4C4;
}

.EnemyHp,
.MyHp {
    height: 100%;
    width: 50%;
    padding: 5% 10% 5% 10%;
}

.MyHpBar,
.EnemyHpBar {
    background: #DA272A;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transition: 1s all linear;
}

.MaxHp {
    background: #C4C4C4;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    position: relative;
}

.MyHpTxt,
.EnemyHpTxt {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    Color: White;
    font-family: barlow-eb;
    font-size: 48px;
}

.MaxHpCard {
    background: #C4C4C4;
    /* height: 10%; */
    /* width: 80%; */
    border-radius: 12px;
    position: relative;
    /* margin-top: -10%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: flex;
    min-height: 2vh;
    flex: 1;
    max-height: 2vh;
}

.HpCard {
    background: #DA272A;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10;
    left: 0;    
    transition: 1s all linear;
}

.turnDiv {
    height: 20px;
    width: 20px;
    border-radius: 200px;
    background-color: red;
}

.noMana {
    filter: grayscale(1);
}