:root{
    --color-titlefriend: #C4C4C4;
    --color-lightgraymenu: #575757;
    --color-darkgraymenu: #2E2E2E;
    --color-yellowmenu: #E7C318;
}

html{
    background-color: var(--color-darkgraymenu);
}

.colorbackmenu{
    background-color: var(--color-darkgraymenu);
}

.colorbackfriend{
    background-color: var(--color-lightgraymenu);
}

.backgroundsize{
    min-height: 100vh;
}

.friend{
    font-family: barlow-eb;
    color: var(--color-titlefriend);
    display: flex;
    flex-direction: column;
}

.titlefriend{
    font-family: barlow-eb;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
}

.listfriend{
    background: rgba(196, 196, 196, 0.13);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: 1;
}

.onefriend{
    background: rgba(196, 196, 196, 0.78);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.profilImage{
    height: 100px;
    width: 100px;
    background-color: #bbb;
    display: inline-block;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.profil{
    width: auto;
    height: 80%;
}

.middleitem{
    height: 100%;
}

.divmenu{
    background-color: #E7C318 ;
    box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

.showFriends {
    background-color: #E7C318 ;
    box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

.itemmenu{
    width: auto;
    height: 80%;
}

.MMR{
    height: 100%;
    background: #656565;
    width: 100%;
}

.iconpack{
    height: 20vh;
    width: 20vh;
    position: absolute;
    z-index: 5;
    animation: colorgradient 2s linear 2s infinite alternate;
    background: radial-gradient(50% 50% at 50% 50%, #E7C318 0%, rgba(196, 196, 196, 0) 80%);
}

.packlight{
    z-index: 10;
    color: white;
    height: 20vh;
    width: auto;
    filter: invert(1);
}

@keyframes colorgradient{
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
  }

.buttonOpen{
    cursor: pointer;
    background: #E7C318;
    box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 400px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: barlow-eb;
    text-transform: uppercase;
}

.nbpack{
    color: #E7C318;
}

.pack{
    color: white;
}

.txtpack{
    font-family: barlow-eb;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;

}

.txtMMR{
    font-family: barlow-eb;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilName{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #E9E9E9;
}

.littleExp{
    background: var(--color-yellowmenu);
    height: 100%;
    width: 150px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.bigExp{
    background: var(--color-titlefriend);
    width: 100%;
    height: 20px;
}

.boxName{
    width: 100%;
}


.lvlExp{
    font-family: barlow-eb;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 62px;
    color: #E9E9E9;
}

.footer{
    width: 100%;   
    margin-bottom: 20px;
    align-items: center;
}

.buttonCollection{
    font-family: barlow-eb;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 62px;
    align-items: center;
    text-align: center;
    color: #DBDBDB;
    text-transform: uppercase;
}

.borderyellow:hover{
    cursor: pointer;
}

.buttonFight{
    background: var(--color-yellowmenu);
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: barlow-eb;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 62px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-left: 10px;
    text-transform: uppercase;
}

.buttonFight:hover{
    cursor: pointer;
}

.flexBetween{
    height: 100%;
}

.borderyellow{
    border: 5px solid var(--color-yellowmenu);
    box-sizing: border-box;
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    margin-right: 10px;
    height: 100%;
}

.deckImage{
    width: 50px;
    height: auto;
}


/* progress WR */


.circle-wrap {
    margin-top: 30px;
    width: 20vh;
    height: 20vh;
    background: #C4C4C4;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 20vh;
    height: 20vh;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 20vh, 20vh, 10vh);
  }
  
  /**
  * Cercle inside (dark gray)
  */
  .circle-wrap .inside-circle {
    width: 17vh;
    height: 17vh;
    border-radius: 50%;
    background: #656565;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 30;
    font-weight: 700;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
  }
  
  
  /* color animation */
  
  /* 3rd progress bar */
  .mask .fill {
    clip: rect(0px, 11vh, 20vh, 0px);
    background-color: #E7C318;
  }
  
  /* .mask.full,
  .circle .fill {
    transform: rotate(135deg);
  } */

  #fakeContainer {
      height: calc(100% / 5 * 3);
      width: calc(100% / 5 * 2);
  }