:root{
    --color-titlefriend: #C4C4C4;
    --color-lightgraymenu: #575757;
    --color-darkgraymenu: #2E2E2E;
    --color-yellowmenu: #E7C318;
}

.back{
    background-color: var(--color-darkgraymenu);
    height: 100vh;
    max-height: 100vh;
}

.loginform{
    width: 100%;
    background-color: var(--color-darkgraymenu);
    border: 5px solid #D3D3D3;
    border-radius: 5px;
    height: 80px;
    color: #D3D3D3;
    text-align: left;
    padding-left: 5%;
    font-size: 28px;
    margin-top: 50px;
    font-family: barlow-eb;
}

.play{
    margin-top: 50px;
    font-family: barlow-eb;
    background: var(--color-yellowmenu);
    height: 90px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 42px;
    border-radius: 5px;
    text-transform: uppercase;

}

.play:hover{
    cursor: pointer;
}