body{
    background: linear-gradient(107.56deg, #FFFFFF 0%, #FAF3B4 100%);
}

.bg-gradient{
    background: linear-gradient(107.56deg, #FFFFFF 0%, #FAF3B4 100%);
}

.img-contain{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-size: cover;
}