:root {
    --color-head: #2E2E2E;
    --color-title: #FFFFFF;
    --color-subtitle: #E7C318;
    --color-background: #000000;
    
}

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    background: linear-gradient(107.56deg, #FFFFFF 0%, #FAF3B4 100%);
}

.bg-gradient{
    background: linear-gradient(107.56deg, #FFFFFF 0%, #FAF3B4 100%);
}


.img-contain{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-size: cover;
}

.buttonDetail {
    transition: all 0.1s ease-in-out;
}

.buttonDetail:hover {
    cursor: pointer;
    filter: grayscale(70%);
}
